* {
    margin: 0;
    padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px; /* taille de base correcte */
  background-image: url(website_bg.png);
  background-size: cover;
  font-family: "Red Hat Display", sans-serif;
}

img[alt="logo"] {
  display: block;
  margin: 1rem auto;
  max-width: 300px;
  width: 80%;
  height: auto;
}

img[alt="image"] {
  display: block;
  margin: 1rem auto;
  max-width: 300px;
  width: 80%;
  height: auto;
}

#cartes-container {
    position: relative;
    width: 250px;
    height: 375px;
    margin: 50px auto;
  }

  .carte {
    position: absolute;
    width: 250px;
    height: 375px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    top: 0;
    left: 0;
  }

  .carte.faceA-visible {
    transform: rotateY(180deg);
  }

  .carte.defausse {
    animation: defausseLeft 0.5s forwards;
  }

  @keyframes defausseLeft {
    to {
      transform: translateX(-300px) rotate(-20deg);
      opacity: 0;
    }
  }

  .faceA, .faceB {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
  }

  .faceB {
    transform: rotateY(0deg);
    z-index: 2;
  }

  .faceA {
    transform: rotateY(180deg);
    z-index: 1;
  }

.tab-bar {
      position: fixed;
      bottom: 0;
      width: 100%;
      background: #151515dc;
      backdrop-filter: blur(10px);
      display: flex;
      justify-content: space-around;
      border-top: 1px solid #333;
      z-index: 1000;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
    }

    .tab-button {
      flex: 1;
      padding: 1rem 0;
      background: none;
      color: #ffffff91;
      font-size: 1rem;
      border: none;
      cursor: pointer;
      transition: background 0.2s, color 0.2s;
      display: flex;
      flex-direction: column; /* icône au-dessus */
      align-items: center;
      gap: 0.25rem; /* espace entre icône et texte */;
      font-family: "Red Hat Display", sans-serif;
    }

    a {
        text-decoration: none;
    }

    .tab-button:hover {
      background: #222;
    }

    .tab-button.active {
      color: #ffff;
    }

    .tab-button .material-icons {
      font-size: 1.6rem; /* adapte la taille de l'icône */
      line-height: 1;
    }

  #chrono {
    margin: 1rem auto; /* centre horizontalement */
    color: #ffffff8a;
    background: #151515dc;
    backdrop-filter: blur(10px);
    padding: 1rem 2rem;
    border-radius: 100px;
    font-family: "Red Hat Display", sans-serif;
    text-align: center;
    width: fit-content; /* shrink à la taille du contenu */
  }

  h2, li {
    margin-bottom: 0.5rem;
  }

  .jouer {
    display: block;
    margin: 1rem auto;
    width: fit-content;
    text-align: center;
    background: #FFCC00;
    background: linear-gradient(145deg, rgb(211, 172, 14) 0%, rgba(135, 110, 8, 1) 75%);
    color: white;
    font-family: "Red Hat Display", sans-serif;
    font-size: 18px;
    font-weight: 800;
    outline: none;
    border: none;
    border-radius: 100px;
    padding: 1rem 2rem;
    box-shadow: 0px 3px 10px #0000006c;
  }

  .description {
    color: #ffff;
    font-size: 40px;
    font-weight: 900;
    text-shadow: 0px 3px 10px #0000006c;
    text-align: center;
    margin: 1rem;
  }

  @media only screen and (max-width: 600px) {
  .description {
    font-size: 32px;
  }
}